
*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}
/* Navber Style  */
.nav-bar{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}
.nav-start{
    width:15%;
}
.nav-center{
    width: auto;
}
.nav-center ul{
    display: flex;
    justify-content: center;
    gap:20px;
}
.nav-center li{
    list-style: none;
}
.nav-center a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.nav-end{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-end button{
    font-weight: 600;
    font-size: 16px;
    color: white;
    padding: 10px 20px;
    background: #30B868;
    border-style: none;
    border-radius: 8px;
}
/* Hero section style */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    text-align: center;
    background-image: url(assets/hero-bg.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.hero-box{
    padding: 150px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#hero-div1{
    background-color: white;
    font-size: 16px;
    color: #30B868;
    padding: 4px;
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 5px;
    height: 40px;
    border-radius: 25px;
}
#hero-heading{
    font-size: 72px;
}
#hero-para{
    font-size: 16px;
    color: white;
}
#hero-buttons{
    color: white;
    width: fit-content;
    display: flex;
    gap: 10px;
}
/* Structure section style */
.structure{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 239, 240);
    padding-top: 40px;
}
.structure h1{
    font-size: 48px;
    font-weight: 700;
    
}
.structure > p{
    font-size: 16px;
    color: gray;

}
.structure > div{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 0px 60px;
}

